.btn-back{
    display: block;
    background: white;
    padding: 0.5rem;
    position: fixed;
    top: 35;
    font-size: 2rem;
    cursor: pointer;
}
.btn-back:hover{
    color: #0275d8;
}

.code{
    background: whitesmoke;
    padding: .9rem;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}